<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="{{ asset('/bundles/employee/js/jquery-3.4.1.min.js') }}"></script>
    </head>
    <body>
        <div class="container body-container">
            {% block companyList %}{% endblock %}
            {% block addCompany %}{% endblock%}
            {% block departmentForm %}{% endblock %}
            {% block departmentList %}{% endblock %}
            {% block employeeForm %}{% endblock %}
        </div>
<script>
    jQuery(document).ready(function() {
        
        // Add company action for company list page.
        jQuery(document).on("click", '#add-company', function(e){
            var add_url = '{{path('employee_add_company')}}';
            jQuery.ajax({
                url: add_url,
                success: function(response) {
                    var content = jQuery(response).find('.company-form-conatiner').html(); 
                    jQuery(".add-company-wrap").html(content);
                }
            });
        });
    
        // Delete action of company list
        jQuery(document).on("click", '.company-delete', function(e){
            e.preventDefault();
            var delete_url = jQuery(this).attr("href");
            console.log(delete_url);
            jQuery.ajax({
                url: delete_url,
                success: function(response) {
                        var content = jQuery(response).find('.company-details-wrap').html(); 
                        jQuery(".company-details-wrap").html(content);
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert('Ajax request failed due to :' + errorThrown);
                }
            });
        });
        
        // Edit action of company list
        jQuery(document).on("click", '.company-edit', function(e){
            e.preventDefault();
            var edit_url = jQuery(this).attr("href");
            console.log(edit_url);
            jQuery.ajax({
                url: edit_url,
                success: function(response) {
                    var content = jQuery(response).find('.company-form-wrap').html(); 
                    jQuery(".companies-wrap").html(content);
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert('Ajax request failed due to :' + errorThrown);
                }
            });
        });
    
        // Add company form save action
        jQuery(document).on("click", "#employeebundle_company_save", function(e){
            e.preventDefault();
            console.log('submitting!'); 
            var $form = jQuery('#employeebundle_company').parent();
            jQuery.ajax({
                url: $form.attr('action'),
                method: 'POST',
                data: $form.serialize(),
                success: function(response) {
                    var content = jQuery(response).find('.companies-wrap').html();
                    jQuery(".company-form-conatiner").html(content);
                    if (jQuery('.company-form-conatiner').length === 0) {
                        jQuery(".companies-wrap").html(content);
                    }
                    jQuery(".company-form-wrap").remove();
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert('Ajax request failed due to :' + errorThrown);
                }
            });
        });
        
        // Add department form for department list page.
        jQuery(document).on("click", '#add-department', function(e){
            var add_url = '{{path('department_show_form')}}';
            jQuery.ajax({
                url: add_url,
                success: function(response) {
                    var content = jQuery(response).find('#department-form-div').html(); 
                    jQuery(".add-department-wrap").html(content);
                }
            });
        });
        
        // Delete action of company list
        jQuery(document).on("click", '.department-delete', function(e){
            e.preventDefault();
            var delete_url = jQuery(this).attr("href");
            jQuery.ajax({
                url: delete_url,
                success: function(response) {
                        var content = jQuery(response).find('.departments-wrap').html(); 
                        jQuery(".departments-wrap").html(content);
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert('Ajax request failed due to :' + errorThrown);
                }
            });
        });
        
        // Edit action of department list
        jQuery(document).on("click", '.department-edit', function(e){
            e.preventDefault();
            var edit_url = jQuery(this).attr("href");
            var row= jQuery(this).parent();
            jQuery.ajax({
                url: edit_url,
                success: function(response) {
                    var content = jQuery(response).find('#department-form-div').html(); 
                    row.html(content);
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert('Ajax request failed due to :' + errorThrown);
                }
            });
        });
    });
    
    /**
     * Save action of department form. 
     * @param {type} element
     * @returns {undefined}     */
    function saveDepartment(element) {
        var form = jQuery(element).closest('form');
        var data = jQuery(form).serialize();
        var url = jQuery(form).attr('action');
        jQuery.ajax({
            type: 'POST',
            url: url,
            data: data,
            dataType: 'json',
            success: function (res) {
                // res is a json object which contains status and form datas
                if (res.status === 'success') {
                   alert('Success! Reloading page to show the updated list');
                } else {
                   alert('Some error occured!');
                }
                // Reloading the page to show the updated department list
                location.reload();
            },
            error: function (res) {
                alert('Some error occured');
                return false;
            }
        });
    }
    
    function saveAccount(element) {
        var form = jQuery(element).closest('form');
        var data = jQuery(form).serialize();
        var url = jQuery(form).attr('action');
        jQuery.ajax({
            type: 'POST',
            url: url,
            data: data,
            dataType: 'json',
            success: function (res) {
                // res is a json object which contains status and form datas
                if (res.status === 'success') {
                   alert('Success!');
                } else {
                   alert('Some error occured!');
                }
                var content = jQuery(res.formView).find('#account-form-div').html();
                jQuery('#account-form-div').html(content);
            },
            error: function (res) {
                alert('Some error occured22');
                return false;
            }
        });
    }
</script>
    </body>
</html>
