{# app/Resources/views/default/new.html.twig #}
{% extends "EmployeeBundle:Default:base.html.twig" %}
{% block addCompany %}
<h2>Add/Update Company</h2>
<div class="company-form">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock addCompany %}
