{# app/Resources/views/default/new.html.twig #}
{% extends "EmployeeBundle:Default:base.html.twig" %}
{% block addCompany %}
    <div class="company-form-conatiner">
        <div class="company-form-wrap">
            <h2>Add/Update Company</h2>
            <div class="company-form">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock addCompany %}
