<main>
    <div class="employee-list-wrap">
        <h1>{{ 'Employee Details' }}</h1>
        <div class="employee-data">
            <tbody>
                <tr>
                    <td>Name</td>
                </tr>
            </tbody>
        </div>
    </div>
</main>
